:root {
  --section-rotate: 9vw;
}

::-moz-selection {
  background-color: #55c57a;
  color: #fff;
}

::selection {
  background-color: #55c57a;
  color: #fff;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  line-height: 1.6;
  font-weight: 300;
  font-family: 'Lato', sans-serif;
  color: #777;
  padding: 3rem;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

/* ========== RESPONSIVE BODY PADDING ========== */
@media only screen and (max-width: 75em) {
  body {
    padding: 2rem;
  }
}

@media only screen and (max-width: 56.25em) {
  body {
    padding: 1.5rem;
  }
}

@media only screen and (max-width: 37.5em) {
  body {
    padding: 1rem;
  }
}

.main {
  background-color: #f7f7f7;
  padding: 8rem 6rem;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  position: relative;
}

/* ========== RESPONSIVE MAIN PADDING ========== */
@media only screen and (max-width: 75em) {
  .main {
    padding: 6rem 4rem;
  }
}

@media only screen and (max-width: 56.25em) {
  .main {
    padding: 4rem 3rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .main {
    padding: 3rem 2rem;
  }
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.span-all-rows {
  grid-row: 1 / -1;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 2rem;
}

@media only screen and (max-width: 56.25em) {
  .container {
    padding: 0 1.5rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .container {
    padding: 0 1rem;
  }
}

.ma-bt-md {
  margin-bottom: 3rem !important;
}

.ma-bt-lg {
  margin-bottom: 3.5rem !important;
}

.right {
  text-align: right !important;
}

.line {
  margin: 6rem 0;
  width: 100%;
  height: 1px;
  background-color: #e0e0e0;
}

.alert {
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 9999;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 400;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 1.6rem 15rem;
  -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
}

/* ========== RESPONSIVE ALERT ========== */
@media only screen and (max-width: 56.25em) {
  .alert {
    padding: 1.2rem 8rem;
    font-size: 1.6rem;
    width: 90%;
  }
}

@media only screen and (max-width: 37.5em) {
  .alert {
    padding: 1rem 4rem;
    font-size: 1.4rem;
    width: 95%;
  }
}

.alert--success {
  background-color: #20bf6b;
}
.alert--error {
  background-color: #eb4d4b;
}

.heading-secondary {
  font-size: 2.25rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#7dd56f),
    to(#28b487)
  );
  background-image: linear-gradient(to right, #7dd56f, #28b487);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.1rem;
  line-height: 1.3;
  display: inline-block;
}

@media only screen and (max-width: 56.25em) {
  .heading-secondary {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .heading-secondary {
    font-size: 1.8rem;
  }
}

.heading-secondary--error {
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#ff7730),
    to(#eb4d4b)
  );
  background-image: linear-gradient(to right, #ff7730, #eb4d4b);
  font-size: 3.5rem;
}

@media only screen and (max-width: 56.25em) {
  .heading-secondary--error {
    font-size: 2.8rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .heading-secondary--error {
    font-size: 2.2rem;
  }
}

.heading-primary,
.heading-tertirary {
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
}
.heading-primary span,
.heading-tertirary span {
  padding: 1rem 1.5rem;
  line-height: 1;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  background-image: -webkit-gradient(
    linear,
    left top,
    right bottom,
    from(rgba(125, 213, 111, 0.85)),
    to(rgba(40, 180, 135, 0.85))
  );
  background-image: linear-gradient(
    to bottom right,
    rgba(125, 213, 111, 0.85),
    rgba(40, 180, 135, 0.85)
  );
}

.heading-primary {
  font-size: 5rem;
  text-align: center;
  width: 70%;
  margin: 0 auto;
}

@media only screen and (max-width: 75em) {
  .heading-primary {
    font-size: 4rem;
    width: 80%;
  }
}

@media only screen and (max-width: 56.25em) {
  .heading-primary {
    font-size: 3.5rem;
    width: 85%;
  }
}

@media only screen and (max-width: 37.5em) {
  .heading-primary {
    font-size: 2.8rem;
    width: 95%;
  }
}

.heading-tertirary {
  font-size: 2.75rem;
  text-align: right;
  position: absolute;
  bottom: 1rem;
  right: 2rem;
  width: 70%;
  z-index: 10;
}

@media only screen and (max-width: 56.25em) {
  .heading-tertirary {
    font-size: 2rem;
    width: 80%;
  }
}

@media only screen and (max-width: 37.5em) {
  .heading-tertirary {
    font-size: 1.6rem;
    right: 1rem;
    width: 90%;
  }
}

/* ========== CARD CONTAINER - RESPONSIVE GRID ========== */
.card-container {
  max-width: 120rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 7rem;
}

@media only screen and (max-width: 75em) {
  .card-container {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5rem;
    padding: 0 2rem;
  }
}

@media only screen and (max-width: 56.25em) {
  .card-container {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 4rem;
  }
}

@media only screen and (max-width: 43.75em) {
  .card-container {
    grid-template-columns: 1fr;
    grid-gap: 4rem;
    max-width: 50rem;
  }
}

/* ========== SECTION DESCRIPTIONS ========== */
.section-description {
  background-color: #fcfcfc;
  margin-top: calc(0px - var(--section-rotate));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}
.section-description > * {
  padding: 0 8vw;
  padding-top: 14vw;
  padding-bottom: calc(1vw + var(--section-rotate));
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
}

@media only screen and (max-width: 56.25em) {
  .section-description {
    flex-direction: column;
  }
  .section-description > * {
    flex: 0 0 100%;
    padding: 8rem 6rem;
  }
  .description-box .description {
    margin-right: 0;
  }
}

@media only screen and (max-width: 37.5em) {
  .section-description > * {
    padding: 5rem 3rem;
  }
}

/* ========== PICTURES SECTION ========== */
.section-pictures {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  clip-path: polygon(
    0 var(--section-rotate),
    100% 0,
    100% calc(100% - var(--section-rotate)),
    0 100%
  );
  -webkit-clip-path: polygon(
    0 var(--section-rotate),
    100% 0,
    100% calc(100% - var(--section-rotate)),
    0 100%
  );
  margin-top: calc(0px - var(--section-rotate));
  position: relative;
  z-index: 1000;
}

@media only screen and (max-width: 56.25em) {
  .section-pictures {
    flex-direction: column;
  }
}

.picture-box__img {
  display: block;
  width: 100%;
  height: 110%;
  -o-object-fit: cover;
  object-fit: cover;
}

@media only screen and (max-width: 56.25em) {
  .picture-box__img {
    height: auto;
    max-height: 40rem;
  }
}

/* ========== REVIEWS SECTION ========== */
.reviews {
  padding: 5rem 2rem;
  display: grid;
  grid-column-gap: 6rem;
  grid-auto-flow: column;
  overflow-x: auto;
  -ms-scroll-snap-type: x mandatory;
  scroll-snap-type: x mandatory;
}

@media only screen and (max-width: 56.25em) {
  .reviews {
    grid-column-gap: 3rem;
    padding: 4rem 1.5rem;
  }
}

/* ========== CTA SECTION ========== */
.cta {
  position: relative;
  max-width: 105rem;
  margin: 0 auto;
  overflow: hidden;
  background-color: #fff;
  padding: 9rem 5rem 9rem 21rem;
  border-radius: 2rem;
  -webkit-box-shadow: 0 3rem 8rem 0.5rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 3rem 8rem 0.5rem rgba(0, 0, 0, 0.15);
}

@media only screen and (max-width: 75em) {
  .cta {
    padding: 7rem 4rem 7rem 18rem;
  }
}

@media only screen and (max-width: 56.25em) {
  .cta {
    padding: 6rem 3rem 6rem 15rem;
    border-radius: 1.5rem;
  }
}

@media only screen and (max-width: 43.75em) {
  .cta {
    padding: 4rem 2rem 4rem 12rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .cta {
    padding: 3rem 1.5rem 3rem 10rem;
  }
}

.cta__img {
  height: 15rem;
  width: 15rem;
  position: absolute;
  left: 0;
  top: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 1rem 0.5rem 3rem rgba(0, 0, 0, 0.15);
  box-shadow: 1rem 0.5rem 3rem rgba(0, 0, 0, 0.15);
}

@media only screen and (max-width: 56.25em) {
  .cta__img {
    height: 12rem;
    width: 12rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .cta__img {
    height: 9rem;
    width: 9rem;
  }
}

.cta__img--logo {
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: -webkit-gradient(
    linear,
    left top,
    right bottom,
    from(#7dd56f),
    to(#28b487)
  );
  background: linear-gradient(to right bottom, #7dd56f, #28b487);
  z-index: 10;
  -webkit-transform: translate(-35%, -50%);
  transform: translate(-35%, -50%);
}

@media only screen and (max-width: 37.5em) {
  .cta__img--logo {
    padding: 1rem;
  }
}

.cta__content {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr auto;
  grid-gap: 0.7rem;
  grid-auto-flow: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media only screen and (max-width: 43.75em) {
  .cta__content {
    grid-template-columns: 1fr;
    grid-auto-flow: row;
    text-align: center;
    gap: 1.5rem;
  }
}

.cta__text {
  font-size: 1.9rem;
  font-weight: 400;
}

@media only screen and (max-width: 56.25em) {
  .cta__text {
    font-size: 1.6rem;
  }
}

/* ========== USER VIEW ========== */
.user-view {
  background-color: #fff;
  max-width: 120rem;
  margin: 0 auto;
  min-height: 100vh;
  border-radius: 3px;
  overflow: hidden;
  -webkit-box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.07);
  box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.07);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}

.user-view__menu {
  -webkit-box-flex: 32rem;
  -ms-flex: 32rem 0 0px;
  flex: 32rem 0 0;
  background-image: -webkit-gradient(
    linear,
    left top,
    right bottom,
    from(#7dd56f),
    to(#28b487)
  );
  background-image: linear-gradient(to right bottom, #7dd56f, #28b487);
  padding: 4rem 0;
}

@media only screen and (max-width: 56.25em) {
  .user-view__menu {
    flex: 100%;
    padding: 2rem 0;
  }
}

.user-view__content {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 7rem 0;
}

@media only screen and (max-width: 56.25em) {
  .user-view__content {
    padding: 4rem 0;
  }
}

.user-view__form-container {
  max-width: 68rem;
  margin: 0 auto;
  padding: 0 8rem;
}

@media only screen and (max-width: 56.25em) {
  .user-view__form-container {
    padding: 0 4rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .user-view__form-container {
    padding: 0 2rem;
  }
}

/* ========== LOGIN FORM ========== */
.login-form {
  margin: 0 auto;
  max-width: 55rem;
  background-color: #fff;
  -webkit-box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.06);
  box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.06);
  padding: 5rem 7rem;
  border-radius: 5px;
}

@media only screen and (max-width: 56.25em) {
  .login-form {
    padding: 4rem 5rem;
    max-width: 50rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .login-form {
    padding: 3rem 2rem;
    margin: 0 1rem;
  }
}

/* ========== SIDE NAVIGATION ========== */
.side-nav a:link,
.side-nav a:visited {
  padding: 1rem 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 400;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media only screen and (max-width: 56.25em) {
  .side-nav a:link,
  .side-nav a:visited {
    padding: 0.8rem 2rem;
    font-size: 1.3rem;
    justify-content: center;
  }
  .side-nav svg {
    margin-right: 1rem;
  }
}

/* ========== NAVIGATION BAR ========== */
.nav__el:not(:last-child) {
  margin-right: 3rem;
}

@media only screen and (max-width: 37.5em) {
  .nav__el:not(:last-child) {
    margin-right: 0;
    margin-bottom: 1rem;
  }
}

.nav__search-input {
  font-family: inherit;
  font-weight: inherit;
  text-transform: uppercase;
  background: none;
  border: none;
  font-size: 1.5rem;
  color: #f7f7f7;
  padding-bottom: 3px;
  border-bottom: 1px solid #999;
  width: 18rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media only screen and (max-width: 37.5em) {
  .nav__search-input {
    width: 14rem;
    font-size: 1.3rem;
  }
  .nav__search-input:focus {
    width: 18rem;
  }
}

/* ========== FOOTER ========== */
.footer {
  background-color: #f7f7f7;
  padding: 6rem 4rem 3rem 4rem;
  font-size: 1.4rem;
  display: grid;
  grid-template-columns: auto auto;
  grid-row-gap: 0.75rem;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media only screen and (max-width: 50em) {
  .footer {
    grid-template-columns: 1fr;
    grid-row-gap: 1.25rem;
    justify-items: center;
    text-align: center;
    padding: 4rem 2rem 2rem 2rem;
  }
  .footer__nav {
    justify-content: center;
    flex-wrap: wrap;
  }
  .footer__nav li {
    margin: 0 1rem 0.5rem 1rem;
  }
  .footer__copyright {
    justify-self: center;
  }
}

/* ========== HEADER ========== */
@media only screen and (max-width: 62.5em) {
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 1rem 2rem;
    height: auto;
  }
  .header__logo {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
    margin-bottom: 1rem;
  }
}

/* ========== ERROR PAGE ========== */
.error {
  position: absolute;
  top: 35%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-width: 80rem;
  text-align: center;
  width: 90%;
}

.error__msg {
  font-size: 2.5rem;
  font-weight: 700;
  max-width: 50rem;
  margin: 0 auto;
}

@media only screen and (max-width: 56.25em) {
  .error__msg {
    font-size: 2rem;
    max-width: 40rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .error__msg {
    font-size: 1.6rem;
    max-width: 30rem;
  }
  .error__emoji {
    font-size: 2.5rem;
  }
}

/* ========== SECTION HEADER (HERO) ========== */
.section-header {
  position: relative;
  height: 38vw;
  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - var(--section-rotate)),
    0 100%
  );
  -webkit-clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - var(--section-rotate)),
    0 100%
  );
}

@media only screen and (max-width: 56.25em) {
  .section-header {
    height: 50vw;
  }
}

@media only screen and (max-width: 37.5em) {
  .section-header {
    height: 60vw;
  }
}

.heading-box {
  position: absolute;
  bottom: 13vw;
  left: 50%;
  top: 35%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 90%;
}

@media only screen and (max-width: 56.25em) {
  .heading-box {
    top: 40%;
    width: 95%;
  }
}

.heading-box__group {
  color: #f7f7f7;
  margin-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  flex-wrap: wrap;
}

.heading-box__detail:not(:last-child) {
  margin-right: 4rem;
}

@media only screen and (max-width: 37.5em) {
  .heading-box__detail:not(:last-child) {
    margin-right: 2rem;
    margin-bottom: 1rem;
  }
  .heading-box__detail {
    font-size: 1.2rem;
  }
}

/* ========== SECTION MAP ========== */
.section-map {
  position: relative;
  height: 65rem;
  margin-top: calc(0px - var(--section-rotate));
}

@media only screen and (max-width: 56.25em) {
  .section-map {
    height: 50rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .section-map {
    height: 40rem;
  }
}

/* ========== GENERAL FONT SIZES FOR MOBILE ========== */
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 56.25%; /* 9px */
  }
}

@media only screen and (max-width: 37.5em) {
  html {
    font-size: 50%; /* 8px */
  }
}

/* ========== FORM INPUTS ========== */
.form__input {
  display: block;
  font-family: inherit;
  font-size: 1.5rem;
  color: inherit;
  padding: 1.25rem 1.75rem;
  border: none;
  width: 100%;
  background-color: #fff;
  background-color: #f2f2f2;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media only screen and (max-width: 37.5em) {
  .form__input {
    padding: 1rem 1.5rem;
    font-size: 1.4rem;
  }
}

/* ========== BUTTONS ========== */
.btn,
.btn:link,
.btn:visited {
  font-size: 1.6rem;
  padding: 1.4rem 3rem;
  border-radius: 10rem;
  text-transform: uppercase;
  display: inline-block;
  text-decoration: none;
  position: relative;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  font-weight: 400;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: none;
  cursor: pointer;
}

@media only screen and (max-width: 37.5em) {
  .btn,
  .btn:link,
  .btn:visited {
    font-size: 1.4rem;
    padding: 1.2rem 2.5rem;
  }
}

/* ========== CARD DETAILS ========== */
.card__details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 1.75rem;
  grid-column-gap: 2rem;
  padding: 2.5rem 3rem;
}

@media only screen and (max-width: 37.5em) {
  .card__details {
    padding: 2rem 1.5rem;
    grid-column-gap: 1rem;
  }
  .card__data {
    font-size: 1.2rem;
  }
  .card__footer {
    padding: 2rem 1.5rem;
  }
}

/* ========== ADMIN NAV ========== */
.admin-nav {
  margin-top: 5.5rem;
}

@media only screen and (max-width: 56.25em) {
  .admin-nav {
    margin-top: 2rem;
  }
  .admin-nav__heading {
    text-align: center;
    margin: 0 2rem 1rem 2rem;
  }
}